<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.csec.it/xtext/Vsdl"
			class = "it.csec.xtext.vsdl.VsdlPackage"
			genModel = "model/generated/Vsdl.genmodel" />
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
	     <handler
	           class="it.csec.xtext.generator.VsdlScriptGenerator"
	           commandId="it.csec.xtext.GenerationCommand">
	     </handler>  
  	</extension> 
   
	<extension point="org.eclipse.ui.commands">
        <command name="Generate Terraform Scripts"
              id="it.csec.xtext.GenerationCommand">
        </command>
	</extension>
   
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
	    	<command
				commandId="it.csec.xtext.GenerationCommand"
	            style="push">
	            <visibleWhen
	                  checkEnabled="false">
					<iterate>
						<adapt type="org.eclipse.core.resources.IResource">
							<test property="org.eclipse.core.resources.name" value="*_values.smt2"/>
						</adapt>
					</iterate>
				</visibleWhen>
			</command>
		</menuContribution>
    </extension>
</plugin>